*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background: linear-gradient(135deg,#4b6cb7,#182848,#a18cd1);
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    min-height:90vh;
    width:90%;
    max-width:1100px;
    margin:auto;
    display:flex;
    align-items:center;
    flex-direction:column;
    border-radius:28px;
    padding:40px;
    color:#eaf6f6;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border:1px solid rgba(255,255,255,0.25);
    box-shadow:
    0 25px 50px rgba(0,0,0,0.5),
    0 0 40px rgba(161,140,209,.3);
}
.container h1{
    letter-spacing:1px;
}

.description{
    padding-top:15px;
    color:#e0dcff;
    text-align:center;
    max-width:600px;
}

.trip-section{
    display:flex;
    padding-top:45px;
    gap:15px;
    align-items:center;
    flex-wrap:wrap;
    justify-content: center;
}

.trip-section h3{
    color:#ffffff;
    margin-right:10px;
}

 .trip-btn{
    height:38px;
    width:110px;
    border-radius:12px;
    border:none;
    background:linear-gradient(135deg,#3a5c69,#745fae);
    color:white;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 6px 15px rgba(0,0,0,.4);
}

.trip-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(0,0,0,.5);
}

.items-section{
    max-height:300px;
    min-width:300px;
    border-radius:16px;
    margin-top:45px;
    padding:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter: blur(2px);
    border:1px solid rgba(255,255,255,.25);
    box-shadow:0 10px 30px rgba(0,0,0,.5);
    color:#fff;
    position: relative;
    overflow-y:auto;
    padding: 60px;
    display: none;
    
}

.items-section label{
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.count-text{
    margin-top:35px;
    color:#ddd9ff;
    text-align: center;
}

.clear-btn{
    height:40px;
    width:220px;
    margin-top:35px;
    border-radius:14px;
    border:none;
    background:linear-gradient(135deg,#ff416c,#ff4b2b);
    color:white;
    font-size:15px;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(0,0,0,.5);
    transition:.3s;
}

.clear-btn:hover{
    transform:translateY(-3px);
}

.items-section::-webkit-scrollbar{
    width:6px;
}

.items-section::-webkit-scrollbar-thumb{
    background:#86a8e7;
    border-radius:10px;
}

.add{
    height: 32px;
    width: 90px;
    position: absolute;
    top: 10px;
    right: 10px;

    background:#283d66;
    border-radius:10px;
    border:none;
    color:white;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.add:hover{
     transform:translateY(-3px);
}

.item-input {
    height: 40px;
    width: 250px;
    margin-top: 25px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    background:linear-gradient(135deg,#523a69,#745fae);
    border: none;
    color: white;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 6px 15px rgba(0,0,0,.4);
    display: none;
}
.item-input::placeholder{
    color:white;
    opacity:1;
}

.item-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.delete-btn{
    background:transparent;
    border:none;
    cursor:pointer;
    color:#ff6b6b;
    font-size:14px;
    transition:0.2s;
}

.delete-btn:hover{
    transform:scale(1.2);
}
