*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background: linear-gradient(150deg,#11120d,#565449);
    display:flex;
    justify-content:center;
}

.container{
    min-height:90vh;
    width:90%;
    max-width:1100px;
    margin:auto;
    display:flex;
    align-items:center;
    flex-direction:column;
    border-radius:25px;
    padding:35px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}
